/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 배경색과 기본 글꼴 설정 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background-size:1830px 1000px;
    background-repeat : no-repeat;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.75;
  }
  
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; // background-size: cover 와 비슷함. (HTML 요소 or 비디오와 작동)
    
  }

header h1 {
    font-size: 2em;
    margin: 0;
}

/* 메인 섹션 스타일 */
.main {
    padding: 20px;
}

.main section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
}

/* 목록 스타일 */
.main ul {
    list-style-type: none;
    display: flex;
}

.main li {
    padding: 10px 0;
    margin: auto;
}

.main a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.main a:hover {
    text-decoration: underline;
}

/* 내비게이션 스타일 */
nav {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
    position: relative;
}

/* 명언 슬라이드 스타일 */
nav div {
    font-size: 1.2em;
}

/* 푸터 스타일 */
footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 200px;
}

.animated-text {
    color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,90%);
    background-color:transparent;
    padding: 0 0px;
    height: 100px;
    overflow: hidden;
}

.line {
    text-transform: Arial;
    text-align: center;
    font-size: 1.1rem;
    line-height: 30px;
    font-weight: bold;
    width: 1100px;
    height: 100px;
    background-color: white;
    border-radius: 25%;
    opacity: 0.75;
}

.line:first-child{
    animation: anim 20s infinite;
}

@keyframes anim {
    0%{
        margin-top: 0;
    }
    33%{
        margin-top: -100px;
    }
    66%{
        margin-top: -200px;
    }
    100%{
        margin-top: -300px;
    }
}



